<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Tổng Quan
            <small>tháng 1 năm 2019</small>
        </h1>

    </section>
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-calendar-plus-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">SỐ GIỜ ĐÃ ĐĂNG KÝ</span>
                        <span class="info-box-number count" style="font-size: 25px;">20<small></small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-clock-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">SỐ GIỜ ĐÃ LÀM</span>
                        <span class="info-box-number count" style="font-size: 25px;">120</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-signal"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">MỨC LƯƠNG CƠ BẢN</span>
                        <span class="info-box-number count" style="font-size: 25px;">15000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-money"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">TỔNG TIỀN TẠM TÍNH</span>
                        <span class="info-box-number count" style="font-size: 25px;">2000000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="box-header with-border bg-aqua">
                        <i class="fa fa-bullhorn"></i>
                        <h3 class="box-title">LỊCH LÀM SẮP ĐẾN</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="callout callout-secondary">
                            <h4>Bạn có một lịch làm vào ngày 29/1/2018</h4>
                            <p>Từ 07:00 AM đến 12:00 AM</p>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="box-header with-border bg-red">
                        <h3 class="box-title">LỊCH SỬ ĐÃ LÀM</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">Ngày</th>
                                    <th class="text-center">Thời gian</th>
                                    <th class="text-center">Tổng số giờ</th>
                                    <th class="text-center" style="width: 40px">Trạng thái</th>
                                </tr>
                                <tr>
                                    <td>20/1/2018</td>
                                    <td class="text-center">07:00 AM đến 12:00 AM</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center"><span class="badge bg-green">Hoàn thành</span></td>
                                </tr>
                                <tr>
                                    <td>20/1/2018</td>
                                    <td class="text-center">07:00 AM đến 12:00 AM</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center"><span class="badge bg-green">Hoàn thành</span></td>
                                </tr>
                                <tr>
                                    <td>20/1/2018</td>
                                    <td class="text-center">07:00 AM đến 12:00 AM</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center"><span class="badge bg-green">Hoàn thành</span></td>
                                </tr>
                                <tr>
                                    <td>20/1/2018</td>
                                    <td class="text-center">07:00 AM đến 12:00 AM</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center"><span class="badge bg-green">Hoàn thành</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="box-header with-border bg-green">
                        <h3 class="box-title">ĐĂNG KÍ LỊCH</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box" style="border: 2px solid #ccc;">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Thông tin</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="input-group">
                                            <span class="btn input-group-addon">Ngày ĐK</span>
                                            <input type="date" class="form-control" placeholder="NGUYEN HOANG PHONG">

                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                Bắt đầu &nbsp;
                                            </span>
                                            <input type="time" class="form-control">
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                Kết thúc
                                            </span>
                                            <input type="time" class="form-control">
                                        </div>
                                    </div>
                                    <!-- /.box-body -->


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer with-border text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-successCR">ĐĂNG KÍ</button>
                    </div>
                </div>
                <div class="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="box-header with-border bg-yellow">
                        <h3 class="box-title">LỊCH SỬ ĐĂNG KÍ</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">Ngày</th>
                                    <th class="text-center">Thời gian</th>
                                    <th class="text-center">Tổng số giờ</th>
                                    <th class="text-center" style="width: 90px">Chỉnh sửa</th>
                                </tr>
                                <tr>
                                    <td>20/1/2018</td>
                                    <td class="text-center">07:00 AM đến 12:00 AM</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center">
                                        <a class="btn btn-social-icon btn-twitter" data-toggle="modal" data-target="#modal-FormLL"><i class="fa  fa-edit "></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>20/1/2018</td>
                                    <td class="text-center">07:00 AM đến 12:00 AM</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center">
                                        <span class="badge bg-green">Hoàn thành</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>20/1/2018</td>
                                    <td class="text-center">07:00 AM đến 12:00 AM</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center">
                                        <span class="badge bg-red">Đã hủy</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

</div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
</footer>