
@{
    ViewBag.Title = "QuanLyPCSanPhamHet";
}

<div class="content-wrapper">
    <section class="content" style="padding-top: 0;">

        <div class="row">
            <div class="col-md-12">
                <div class="input-group" style="margin-top: 10px;">
                    <!-- /btn-group -->
                    <input type="text" class="form-control" placeholder="Nhập tên sản phẩm">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger">Tìm kiếm</button>
                    </div>
                </div>
                <div class="nav-tabs-custom" style="margin-top: 10px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">COFFEE</a></li>
                        <li><a href="#tab_2" data-toggle="tab">YAROUT</a></li>
                        <li><a href="#tab_3" data-toggle="tab">SINH TỐ</a></li>
                        <li><a href="#tab_4" data-toggle="tab">ĐÁ XAY</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="box box-solid" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="box-header bg-red text-center with-border">
                                            <h3 class="box-title">TB001</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <img src="image/coffee.png" width="100%" />
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="box-footer">
                                            <span class="btn btn-block btn-primary" data-toggle="modal" data-target="#modal-successCR">Còn hàng</span>
                                        </div>
                                    </div>
                                    <!-- /.info-box -->
                                </div>

                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">

                        </div>
                        <div class="tab-pane" id="tab_4">

                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>

        </div>

    </section>
</div>


