
@{
    ViewBag.Title = "QuanLyMenu";
}

<div class="content-wrapper">
    <section class="content-header" style="padding-top: 0">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    Quản lý Menu
                    <small>tháng 1 năm 2019</small>
                </h3>
            </div>
            <div class="col-md-3">
                <div class="input-group" style="margin-top: 20px;">
                    <input type="text" name="q" class="form-control" placeholder="Nhập mã/tên nhân viên">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-block btn-info" style="margin-top: 20px;" data-toggle="modal" data-target="#modal-create">Thêm mới</button>
            </div>
        </div>
    </section>
    <section class="content" style="padding-top: 0;">

        <div class="row">
            <div class="col-md-12">

                <div class="nav-tabs-custom" style="margin-top: 10px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">COFFEE</a></li>
                        <li><a href="#tab_2" data-toggle="tab">YAROUT</a></li>
                        <li><a href="#tab_3" data-toggle="tab">SINH TỐ</a></li>
                        <li><a href="#tab_4" data-toggle="tab">ĐÁ XAY</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="box box-solid" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="box-header  text-center with-border bg-aqua">
                                            <h3 class="box-title">TB001</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <img src="image/coffee.png" width="100%" />
                                        </div>
                                        <!-- /.box-body -->

                                        <div class="box-footer text-center">
                                            <a class="btn btn-social-icon btn-warning" data-toggle="modal" data-target="#modal-viewInfo"><i class="fa fa-exclamation"></i></a>
                                            <a class="btn btn-social-icon btn-info" data-toggle="modal" data-target="#modal-edit"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-social-icon btn-google" data-toggle="modal" data-target="#modal-warning"><i class="fa  fa-remove"></i></a>
                                        </div>
                                    </div>
                                    <!-- /.info-box -->
                                </div>

                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">

                        </div>
                        <div class="tab-pane" id="tab_4">

                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>

        </div>

    </section>
</div>



