
@{
    ViewBag.Title = "QuanLyLichLamChinhSua";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Lịch Làm Việc
            <small>ngày 07 tháng 11 năm 2018</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="box-body">
                        <div id="example1_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead class="bg-aqua">
                                            <tr role="row" style="font-size: 20px;">
                                                <th class="text-center">MaNV</th>
                                                <th class="text-center">Họ và Tên</th>
                                                <th class="text-center">Bắt đầu</th>
                                                <th class="text-center">Kết thúc</th>
                                                <th class="text-center" style="width: 180px;">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">NV001</td>
                                                <td class="text-center">NGUYEN HOANG PHONG</td>
                                                <td class="text-center">07:00 AM</td>
                                                <td class="text-center">12:00 AM</td>
                                                <td class="text-center">
                                                    <button class="btn btn-social-icon btn-success" data-toggle="modal" data-target="#modal-checkSuccess">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-social-icon btn-google" data-toggle="modal" data-target="#modal-checkReject">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                    <button class="btn btn-social-icon btn-twitter" data-toggle="modal" data-target="#modal-FormLL">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </div>
            </div>
    </section>
</div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
</footer>
