@model CoffeeManagement.Models.UserViewModel
@{
    ViewBag.Title = "QuanLyLoaiSP";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header" style="padding-top: 0">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    Quản lý Loaị sản phẩm
                    <small>tháng 1 năm 2019</small>
                </h3>
            </div>
            <div class="col-md-3">
                <div class="input-group" style="margin-top: 20px;">
                    <input type="text" name="q" class="form-control" placeholder="Nhập mã/loại sản phẩm">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-block btn-info" style="margin-top: 20px;" data-toggle="modal" data-target="#modal-create">Thêm mới</button>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            @foreach (var c in Model.listCategory)
            {

                <div class="col-md-3">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="box-header bg-yellow">
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">@c.Name</h3>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li>
                                    <a href="#">
                                        <p>
                                            @c.Description
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="box-footer text-center">
                            <a class="btn btn-social-icon btn-info" data-toggle="modal" data-target="#modal-edit"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-social-icon btn-google" data-toggle="modal" data-target="#modal-warning"><i class="fa  fa-remove"></i></a>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            }
            <button id="success-add-modal" style="display:none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-successCR">Open Modal</button>
        </div>
    </section>
</div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
</footer>

<div class="modal fade" id="modal-create">
    <div class="modal-dialog" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 500px; ">
        <div class="modal-content" style="border-radius:5px;">
            <div class="modal-header" style="background: #f39c12 ; color: #fff; font-weight: bold; border-radius: 5px 5px 0 0 ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">THÊM MỚI LOẠI SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tên Loại</label>
                            <input id="tenloai" type="text" class="form-control" placeholder="Enter ...">
                        </div>

                        <div class="form-group">
                            <label>Miêu tả</label>
                            <textarea id="mieuta" class="form-control" rows="5" placeholder="Enter ..."></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="create-loaisp btn btn-info pull-right" data-dismiss="modal" data-toggle="modal" >Lưu</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--Modal Thành công tạo-->
<div class="modal fade " id="modal-successCR">
    <div class="modal-dialog" style="width:500px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
        <div class="modal-content" style="border-radius:5px;">
            <div class="modal-header" style="background: #47c9a2; text-align: center; padding: 35px; border-radius: 5px 5px  0 0;">
                <div class="icon-box" style="color: #fff; width: 80px; height: 80px;display: inline-block; border-radius: 50%; border: 5px solid #fff">
                    <h4><i class="icon fa fa-check" style="font-size: 58px; margin: -5px 0 0 0"></i></h4>
                </div>
                <button id="product-close" style="position: absolute; top: 15px;right: 15px; color: #fff;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-center">
                <h4 style="font-size: 30px;">Hoàn tất</h4>
                <p>Một loại sản phẩm mới được tạo</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>